<div class="login-container">
    <h2>Login</h2>
    <p class="text-center fs-3" [ngClass]="isUserLogged ? 'text-success pb-1' : 'text-danger pb-1'" >{{displayMsg}}</p>
    <form [formGroup]="LoginForm" (ngSubmit)=" loginSubmitted()">
        <table>
           
            <tr>
                <td>UserName</td>
                <td>
                    <input type="text"  name="user" formControlName="Name">
                  
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="pass" formControlName="Pass">
                 
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <br>
                    <button type="submit" value="SAVE" class="btn btn-primary" >LOGIN</button>
                    <br />
                    <br>
                    <a routerLink="/parent/register">Register</a>
                </td>
            </tr>
        </table>
    </form>
  
    </div>