<div class="nav">
    <ul>
      <li ><a routerLink="parent">Home</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="parent/login">Login</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="parent/register">Register</a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
      <li class="hidenav" ><a ></a></li>
     
    
    </ul>
</div>

<router-outlet></router-outlet>